
.mainContainer {
    height: 200px;
    width: 500px;
    position: relative;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(220px);
    transition: width 1.5s, height 1s;
}

.mainContainer:hover {
    height: 200px;
    width: 900px;
    position: relative;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(220px);
}

/*----------------------------------------------*/

.background {
    background: #333;
}

.sansserif {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}

.fontWeight {
    font-weight: 200;
}

.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%, -50%);
}

a {
    color: white;
}

a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: red;
    text-decoration: none;
}


.footerText {
    transform: translateY(460px);
}

/*transitions: https://thoughtbot.com/blog/transitions-and-transforms*/

